/*
Theme Name: Replace with your Theme's name.
Theme URI: Your Theme's URI
Description: A brief description.
Version: 1.0
Author: You
Author URI: Your website address.
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
		FONTS
		========================== */

@font-face {
    font-family: "Proxima-Bold";
    src: url("fonts/prxma-bold.otf") format("opentype");
}
@font-face {
    font-family: "Proxima-Regular";
    src: url("fonts/prxma-regular.otf") format("opentype");
}
@font-face {
    font-family: "Proxima-Light";
    src: url("fonts/proximanova-light-webfont.ttf") format("truetype");
}
/*
		GLOBAL
		========================== */

b {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 22px;
    padding-right: 5px;
    color: #181F58;
}
body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Proxima-Regular", sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* clear flaot nicholas gallagher*/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
.section-header {
    color: #FFFFFF;
    font-size: 36px;
    font-family: "Proxima-Bold", sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.section {
    padding: 0px 0px;
    overflow: hidden;
    position: relative !important;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(52, 61, 119, .6);
}
.video-container {
    position: fixed;
    /* height: 550px; */
    
    width: 900px;
    background-color: #fff;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 110px 80px rgba(0, 0, 0, .5);
}
.video-container video {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
}
.close-video {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: -30px;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: rgba(20, 20, 20, 1);
    border-radius: 0 3px 3px 0;
    background-position: center center;
}
span.close-video {}
/*
		ERROR HANDLING
		========================== */

.error > span:first-of-type {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    color: #F35454;
    /* padding: 5px; */
    
    text-align: right;
}
.error span:first-of-type i {
    font-size: 27px;
    position: relative;
    top: 10px;
    left: -5px;
    display: inline-block !important;
}
.error input {
    border: 1px solid #F35E5E !important;
}
.form-field-wrapper i {
    display: none;
}
.error-signup-field {
    font-size: 13px;
    color: tomato;
    padding-top: 10px;
    display: none;
}
.error-signup .error-signup-field {
    display: block;
}
.error-signup input[type="email"] {
    box-shadow: inset 0 -3px tomato !important;
}
.error input::-webkit-input-placeholder {
    color: #F35454 !important;
}
.error input:-moz-placeholder {
    /* Firefox 18- */
    
    color: #F35454 !important;
}
.error input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #F35454 !important;
}
.error input:-ms-input-placeholder {
    color: #F35454 !important;
}
.form-field-wrapper {
    position: relative;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
#fp-nav ul li .fp-tooltip {
    color: #000 !important;
    background-color: #fff;
    border-radius: 30px;
    display: inline-block;
    padding: 4px 15px !important;
    font-family: "Proxima-Bold", sans-serif !important;
}
/*
		MAIN NAVIGATION
		========================== */

.main-nav {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(10, 10, 30, .99);
    z-index: 110;
    text-align: center;
    top: 0;
    display: none;
}
.main-nav ul {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -42%);
}
.main-nav li a {
    display: block;
    font-size: 23px;
    color: #fff;
    padding-bottom: 25px;
    cursor: pointer;
    font-family: "Proxima-Bold", sans-serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    z-index: 9900;
    font-weight: 300;
    text-decoration: none;
}
.main-nav li:hover {
    color: #00FCFF;
}
.main-nav.close-nav {
    height: 0px;
    overflow: hidden;
    padding: 0;
}
/*
		MODAL WINDOW
		========================= */

.signup-modal,
.freetrial-modal,
.contactus-modal {
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    top: 0px;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: none;
}
.signup-modal .modal-outer,
.contactus-modal .modal-outer,
.freetrial-modal .modal-outer {
    background-color: #F1F1F1;
    max-width: 380px;
    padding: 40px 0px 0px 0px;
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translate(0%, -55%);
    box-shadow: 20px 40px 90px #292828;
}
.signup-modal .modal-inner-top,
.contactus-modal .modal-inner-top,
.freetrial-modal .modal-inner-top {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}
.signup-modal .modal-inner h3,
.contactus-modal .modal-inner h3,
.freetrial-modal .modal-inner h3 {
    font-family: "Lato", sans-serif;
    font-size: 23px;
    color: #333;
    margin-bottom: 25px;
}
.signup-modal input,
.contactus-modal input,
.freetrial-modal input,
.freetrial-modal select {
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    margin-top: 6px;
    color: #000;
    padding-left: 13px;
    /* box-shadow: 0 1px #fff; */
    
    font-size: 17px;
    text-align: r;
}
.signup-modal select,
.contactus-modal select,
.date-selects input {
    display: block;
    width: 32%;
    border: none;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    margin-top: 8px;
    color: #000;
    padding-left: 10px;
    float: left;
    margin-left: 0 !important;
}
.date-selects input {
    margin-left: 2% !important;
    margin-top: 0;
}
.plan-pm {
    width: 100% !important;
}
.create-account-wrapper select {
    display: block;
    width: 100%;
    border: none;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    height: 34px;
    line-height: 34px;
    margin-top: 6px;
    color: #000;
    padding-left: 9px;
}
.ca-field {
    height: 34px;
    line-height: 34px;
    margin-bottom: 12px;
}
.date-selects {
    margin: 5px 0;
}
.date-selects select {
    margin: 0;
}
.signup-modal-wrapper,
.contactus-modal-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.signup-payment-inner select:last-of-type {
    margin-left: 2% !important;
}
.signup-payment-inner #div-plan-pm select {
    margin-left: 0 !important;
}
.signup-payment-inner .credit-cards {
    text-align: left;
    padding: 10px 0;
    text-align: center;
}
.signup-payment-inner .credit-cards img {
    width: 15.4%;
}
.signup-btn-wrapper,
.contactus-btn-wrapper,
.freeetrial-btn-wrapper {
    text-align: right;
    position: relative;
    height: 55px;
}
.contactus-btn-wrapper {
    margin-top: 25px;
}
.signup-modal input[type="submit"],
.contactus-modal input[type="submit"],
.freetrial-modal input[type="submit"] {
    width: 100%;
    background-color: #34a4e6;
    color: #fff;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'Proxima-Bold', sans-serif;
    font-size: 17px;
    height: 45px;
    border-radius: 5px;
    border-top: 2px solid #3ba6e4;
    border-bottom: 2px solid #d7dde9;
    box-shadow: inset 0 -1px 1px #297CB1;
    text-shadow: 0 1px 1px #2572B3;
    top: 12px;
    padding-left: 0;
    background: linear-gradient(to bottom, #3eafea, #2897e1);
    border-top: 1px solid #2897e1;
    /* text-transform: uppercase; */
    
    letter-spacing: .04em;
}
.contactus-modal input[type="submit"] {
    position: relative;
    width: 100%;
}
.freetrial-modal input[type="submit"] {
    width: 100%;
    background-color: #AB91EA;
    line-height: 0px;
    background: linear-gradient(to bottom, #ab91ea, #9A81D6);
    border-bottom: 2px solid #D8D4E0;
    border-top: 1px solid #997EDA;
    box-shadow: inset 0 -1px 1px #856CC1;
    text-shadow: none;
    letter-spacing: .04em;
    text-shadow: 0 1px 1px #5D4B8A;
}
.signup-modal input[type="submit"]:hover,
.contactus-modal input[type="submit"]:hover,
.freetrial-modal input[type="submit"]:hover {
    cursor: pointer;
}
.freeetrial-btn-wrapper input[type="submit"]:hover {
    color: #fff;
    background-color: #903647;
}
.signup-payment-inner h4 {
    padding-top: 20px;
    text-align: left;
    padding-bottom: 3px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    color: #333;
    /* margin-bottom: 25px; */
    
    text-align: center;
    padding-bottom: 15px;
}
.signup-modal .cc-number {
    background-size: 34px 20px !important;
    background-repeat: no-repeat !important;
    background-position: 97% center !important;
}
::-webkit-input-placeholder {
    color: #888;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}
input:-moz-placeholder {
    /* Firefox 18- */
    
    color: #cacaca;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}
input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #cacaca;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}
:-ms-input-placeholder {
    color: #cacaca;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}
.signup-modal .modal-inner-bottom,
.contactus-modal .modal-inner-bottom,
.freetrial-modal .modal-inner-bottom {
    padding: 17px 0;
    border-top: 1px solid #DCDCDC;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.signup-modal .modal-inner-bottom p,
.contactus-modal .modal-inner-bottom p,
.freetrial-modal .modal-inner-bottom p {
    color: #3f3f3f;
    font-family: "Lato", sans-serif;
}
.signup-modal .modal-inner-bottom a,
.contactus-modal .modal-inner-bottom a,
.freetrial-modal .modal-inner-bottom a {
    color: black;
    font-size: 13px;
    padding-left: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .01em;
    text-decoration: underline;
}
.close-modal-signup,
.close-modal-contact,
.close-modal-trial {
    font-family: "Raleway", sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    top: 12px;
}
.close-modal-signup,
.close-modal-contact,
.close-modal-trial {
    cursor: pointer;
    border: 2px solid #A1B1C7;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.close-modal-signup i,
.close-modal-contact i,
.close-modal-trial i {
    display: block;
    height: 10px;
    width: 2px;
    background-color: #a1b2c7;
    border-radius: 5px;
    position: absolute;
    left: 7px;
    top: 3px;
}
.close-modal-signup i:first-of-type,
.close-modal-contact i:first-of-type,
.close-modal-trial i:first-of-type {
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg);
}
.close-modal-signup i:last-of-type,
.close-modal-contact i:last-of-type,
.close-modal-trial i:last-of-type {
    -webkit-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    transform: rotate(-43deg);
}
.required-field {
    position: absolute;
    top: 0;
    display: block;
    width: 11px;
    height: 11px;
    background-color: #B7B7B7;
    /* line-height: 15px; */
    
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    padding-top: 2px;
    right: -17px;
    top: 5px;
    cursor: pointer;
    /* margin-top: -8px; */
    
    line-height: 14px;
}
.success-message {
    font-size: 20px;
    color: #333;
    font-family: Raleway, sans-serif;
    line-height: 37px;
    padding: 40px 20px 30px 20px;
}
/*
		HEADER
		========================== */

header {
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    bottom: 0;
}
/* header top */

.header-content-top {
    max-width: 1100px;
    margin: 0px auto 0 auto;
    height: 80px;
    position: relative;
}
.header-content-top h1 a {
    text-indent: 100%;
    overflow: hidden;
    height: 54px;
    width: 152px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    white-space: nowrap;
    float: left;
    position: relative;
    z-index: 20;
    /* top:50%; */
    /* -webkit-transform: translate(0%,-35%); */
    /* transform: translate(0%,-50%); */
}
.header-content-top h1 a.animated {
    animation-duration: .5s;
}
.header-content-top .toggle-mainmenu {
    cursor: pointer;
    float: right;
    position: relative;
    display: block;
    z-index: 20;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.header-content-top .toggle-mainmenu i {
    display: block;
    height: 4px;
    width: 34px;
    background-color: #222;
    border-radius: 2px;
    margin-bottom: 8px;
    -webkit-transition: all .35s;
    transition: all .35s;
}
.header-content-top .toggle-mainmenu.act {
    z-index: 120;
}
.header-content-top h1 a.act {
    z-index: 120;
    background-image: url("../img/logo-white.png");
    background-repeat: no-repeat;
}
.header-content-top .toggle-mainmenu.act i {
    position: relative;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
}
.header-content-top .toggle-mainmenu i:last-of-type {
    margin-bottom: 0;
}
.header-content-top .toggle-mainmenu.act i:first-of-type {
    -webkit-transform: translate(0px, 12px) rotate(-45deg);
    -ms-transform: translate(0px, 12px) rotate(-45deg);
    transform: translate(0px, 12px) rotate(-45deg);
}
/* header jumbo */

.header-content-jumbo {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    text-align: center;
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
}
.header-content-jumbo h2 {
    font-size: 42px;
    font-family: 'Proxima-Bold', sans-serif;
    color: #182061;
    line-height: 1.15em;
}
.header-content-jumbo h2 span {} .header-content-jumbo h3 {
    font-family: 'Proxima-Bold', sans-serif;
    font-size: 18px;
    color: #182061;
    padding: 22px 0;
}
.header-content-jumbo p:last-of-type {
    font-family: 'Roboto', sans-serif;
    color: #02001e;
    font-size: 14px;
    line-height: 1.5em;
}
.main-btns a {} .main-btns {
    margin-top: 40px;
}
.main-btns a:first-of-type {
    display: inline-block;
    color: #dadada;
    /* border:1px solid #dadada; */
    
    color: #fff;
    font-family: "Proxima-Bold", sans-serif;
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 60px;
    margin-right: 15px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-transform: lowercase;
    font-size: 20px;
    background-color: #01032c;
}
.whatis .main-btns a:first-of-type {
    background-color: #01032c;
    color: #fff;
}
.main-btns a:first-of-type:hover {
    background-color: #01032c;
    color: #fff;
}
.main-btns a:last-of-type {
    font-size: 15px;
    text-decoration: none;
    color: #333;
    font-family: "Proxima-Bold", sans-serif;
}
.whatis .main-btns a:last-of-type {
    color: #fff;
}
.main-btns a:last-of-type:hover {
    text-decoration: underline;
}
/*  NEWSLETTER STYLES */

.nav-newsletter {
    border-top: solid 1px #F3F4F7;
    background-color: #fff;
    border-bottom: 1px solid #F3F4F7;
    background-color: #FFFFFF;
}
.nav-newsletter ul {
    max-width: 1100px;
    margin: 0px auto 0 auto;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.nav-newsletter ul li {
    display: block;
    padding: 0 35px;
    float: left;
    height: 60px;
    line-height: 60px;
    background-color: white;
    /* box-shadow: inset 0 -2px red; */
}
.nav-newsletter ul li:nth-of-type(1) {
    /* padding-left: 0; */
}
.nav-newsletter ul li a {
    text-decoration: none;
    color: #4e5665;
    display: block;
    height: 28px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 14px;
}
.newsletter-heading-wrapper {
    background-color: #fff;
    padding-top: 30px;
}
#newsletter,
#companyInfo,
#news,
#media,
#index,
#singlePost,
#mediaSinglePage {
    background-color: #F3F4F7;
}
.nav-newsletter ul li a:hover {
    color: #000;
}
.nav-newsletter ul li.active a {
    color: #000;
    font-family: "Proxima-Bold", sans-serif;
    text-align: center;
}
.nav-newsletter ul li.here-nav a {
    font-weight: bold;
    font-family: "Proxima-Bold", sans-serif;
}
.nav-newsletter ul li {
    padding-left: 0;
}
.newsletter-main {
    margin: 0px auto 0 auto;
    max-width: 1110px;
    text-align: center;
    padding-bottom: 80px;
    color: #181f58;
}
.newsletter-slider {
    margin: 50px auto 0 auto;
    max-width: 1110px;
    color: #181f58;
    height: 500px;
    position: relative;
}
.slider-text {
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: #000;
    padding: 15px 30px;
    width: 100%;
    position: relative;
    border-radius: 0 0 3px 3px;
}
.slider-text .slider-post-date {
    font-size: 12px;
    /* font-style: italic; */
    
    color: #9E9E9E;
    font-family: "Proxima-Bold";
    position: absolute;
    right: 35px;
    top: 25px;
    border: 1px solid #E8E8E8;
    padding: 10px;
    border-radius: 3px;
}
.slider-text .slider-post-heading {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 17px;
    padding: 8px 0 8px 0;
    max-width: 650px;
    line-height: 23px;
}
.slider-text .slider-post-heading a {
    text-decoration: none;
    color: #000;
    transition: all .3s;
    display: block;
}
.slider-text .slider-post-heading a:hover {
    color: #555C8E;
    transform: translate(2px, 2px);
}
.slider-text p {
    line-height: 25px;
    font-size: 15px;
}
.newsletter-slider-right {
    height: 500px;
    background-image: url("../img/techcrunch-conference.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slider-controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    right: 0px;
    bottom: -120px;
}
.slider-controls a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #DADBE2;
    margin-right: 7px;
}
.slider-controls .active,
.slider-controls a:hover {
    background-color: #828BD6;
}
.top-stories-tag {
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: -15px;
    padding: 8px 12px;
    font-family: "Proxima-Bold", sans-serif;
    border-radius: 3px 3px 0 3px;
    z-index: 100;
    box-shadow: 0 3px 10px #3E414E;
}
.top-stories-tag:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    position: absolute;
    top: 16px;
    right: 0px;
}
.top-stories-tag span {
    position: relative;
    z-index: 200;
    color: black;
}
.newsletter-bottom {
    margin-top: 60px;
    margin-bottom: 80px;
}
.newsletter-bottom-right {
    width: 42%;
    float: right;
}
.newsletter-bottom-left {
    width: 58%;
    float: left;
    background-color: #fff;
    padding: 30px 40px 0px 40px;
    text-align: left;
    color: #000;
    height: 768px;
    position: relative;
}
.newsletter-bottom-right {
    padding: 30px;
    text-align: left;
    color: #000;
    background-color: #555C8E;
}
.newsletter-recent-post {
    margin: 40px 0 0 0;
}
.newsletter-recent-post .newsletter-recent-post-date {
    font-size: 13px;
    color: #646469;
    right: 35px;
    /* text-transform: uppercase; */
    
    display: block;
}
.newsletter-bottom h3 {
    font-size: 28px;
    font-family: "Proxima-Bold", sans-serif;
    padding-top: 50px;
}
.newsletter-bottom-left h4 a {
    font-size: 18px;
    font-family: "Proxima-Bold", sans-serif;
    padding-top: 9px;
    line-height: 26px;
    color: #555C8E;
    padding-right: 20px;
    text-decoration: none;
    display: block;
}
.newsletter-bottom-left h4 a:hover {
    color: #333;
}
.newsletter-bottom-right {
    color: #fff;
    position: relative;
    min-height: 768px;
}
.newsletter-bottom-contact a {
    color: #9198C9;
    padding-top: 10px;
    display: block;
    font-family: "Proxima-Bold", sans-serif;
}
.newsletter-bottom-events-wrapper {
    background-color: #555C8E;
}
.new-event {
    margin-top: 40px;
}
.new-event:first-of-type {
    margin-top: 0;
}
.new-event .new-event-date {} .new-event-date-inner {
    display: inline-block;
    text-align: center;
    padding: 8px 2px;
    width: 81%;
    /* height: 75px; */
    
    display: inline-block;
    text-align: left;
}
.event-month {
    display: block;
    font-size: 13px;
}
.event-day {
    display: block;
    font-size: 20px;
    padding-top: 10px;
    color: white;
    font-family: "Proxima-Bold", sans-serif;
}
.new-event .new-event-date {} .newsletter-bottom-events-wrapper h3 {
    padding-bottom: 30px;
}
.new-event-description {} .new-event-description h4 {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 18px;
    padding-bottom: 8px;
    color: #FFFFFF;
    text-decoration:underline;
}
.new-event-description small {
    font-size: 12px;
    display: block;
    padding: 5px 0 20px 0;
    text-decoration: underline;
    font-style: italic;
    display: none;
}
.new-event-description p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .02em;
}
.new-event-description .new-event-read-more {
    display: inline-block;
    color: #fff;
    /* text-transform: uppercase; */
    
    text-decoration: none;
    font-size: 12px;
    font-family: "Proxima-Bold", sans-serif;
    margin-top: 10px;
    color: #FFFFFF;
    /* border-radius: 3px; */
    
    text-decoration: underline;
    font-style: italic;
    padding-left: 4px;
}
.new-event-description .new-event-read-more:hover {
    text-decoration: underline;
}
.newsletter-bottom-social {
    margin-top: 80px;
    position: absolute;
    right: 30px;
    bottom: 25px;
    text-align: right;
}
.newsletter-bottom-social h3 {
    font-size: 16px;
    padding-bottom: 15px;
    text-decoration: underline;
}
.newsletter-bottom-social li {
    display: inline-block;
}
.newsletter-bottom-social li a {
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 24px;
    width: 24px;
    margin-left: 10px;
    background-size: 24px;
}
.newsletter-bottom-social li a:hover {
    opacity: .6;
}
.newsletter-bottom-social li a.linkedin {
    background-image: url("../img/linkedin.png");
}
.newsletter-bottom-social li a.facebook {
    background-image: url("../img/fb.png");
}
.newsletter-bottom-social li a.twitter {
    background-image: url("../img/twitter.png");
}
/* scrollbar styles */

.events-calendar-wrapper::-webkit-scrollbar {
    width: 6px;
}
.events-calendar-wrapper::-webkit-scrollbar-button {
    width: 2px;
    height: 5px;
    background: #636ba2;
}
.events-calendar-wrapper::-webkit-scrollbar-track {
    background: #555C8E;
    background: #fff;
}
.events-calendar-wrapper::-webkit-scrollbar-thumb {
    background: #636ba2;
}
.events-calendar-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* newsroom media gallery */

.media-main {
    color: #000;
}
.media-main h2 {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 18px;
    color: #545558;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #F7F7F7;
    text-align: left;
    margin-bottom: 10px;
}
.media-gallery-wrapper {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-bottom: 130px;
}
.media-folder {
    width: 30%;
    float: left;
    margin-right: 5%;
    text-align: left;
    margin-top: 4%;
}
.media-folder:nth-of-type(3n),
.media-folder:last-of-type {
    margin-right: 0;
}
.media-folder .media-folder-thumbnail img {
    /* width:100%; */
    
    height: auto;
    margin-bottom: -5px;
}
.media-folder h4 {
    font-family: "Proxima-Bold", sans-serif;
    color: #555C8E;
    padding: 15px 0 15px 0;
    font-size: 17px;
}
.media-folder .media-folder-items-number {
    font-family: "Proxima-Light", sans-serif;
    color: #000;
}
.media-folder .media-folder-items-number span {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 15px;
    /* font-style: italic; */
    
    padding-right: 4px;
    text-decoration: underline;
    color: #433F3C;
}
.media-folder .media-folder-thumbnail {
    position: relative;
    overflow: hidden;
}
.media-folder-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center center;
}
/* newsroom media SINGLE PAGE */

.media-single-col {
    /* height: 300px; */
    
    width: 90%;
    float: left;
    margin-left: 5%;
}
.media-single-col:nth-of-type(2n) {
    margin-right: 0;
}
.media-single-col video,
.media-single-col img {
    height: auto;
    width: 100%;
}

.single-page-5 .media-single-col video {
	width:32%;
	float: left;
	margin-left: 1%;
}

.single-page-5 .media-single-col video:first-of-type {
	margin-left: 0;
}

.media-gallery-single-wrapper {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-bottom: 130px;
    padding-top: 80px;
}




.media-single-page-multiple .media-single-col img {
	width: 60%;
	height: auto;
}

.media-single-page-multiple .media-single-col {
	margin-bottom: 20px;
}

/* NEWS PAGE */

.news-left {
    width: 100%;
    margin: 0 auto;
}
.newsletter-main.media-main {
    padding-top: 50px;
}
.news-post-container {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 40px 40px 20px 40px;
    text-align: justify;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 600px;
}
.news-post-date {
    color: #898f9c;
}
.news-post-container h3 {
    color: #555C8E;
    font-family: "Proxima-Bold";
    font-size: 22px;
    line-height: 29px;
    padding: 20px 0 30px 0;
}
.news-post-container .news-post-meta-contenct {} .news-post-container .news-post-meta-contenct {
    line-height: 25px;
    color: #444;
}
.news-post-link {
    display: block;
    color: #555C8E;
    padding: 25px 0 40px 0;
    font-size: 14px;
    font-family: "Proxima-Bold";
}
.news-post-link:hover {
    color: #000;
}
.news-post-featured-image {
    margin-bottom: 40px;
}
.news-post-featured-image img {
    width: 100%;
    height: auto;
}
.news-post-category {
    padding-top: 20px;
}
.news-post-category .news-meta-label {} .news-post-category .news-meta-label {} .news-post-category .news-post-tag {
    text-decoration: none;
    font-size: 14px;
    padding-left: 20px;
    color: #555C8E;
}
.newsletter-bottom-social li a.facebook {} .video-play {
    display: block;
    position: absolute;
    /* height: 32px; */
    /* width: 32px; */
    
    background-image: url("../img/play-btn.png");
    right: 0;
    top: 10px;
    background-repeat: no-repeat;
    height: 90px;
    padding-top: 30px;
    text-align: center;
    font-size: 10px;
    background-position: center top;
    font-family: "Proxima-Bold", sans-serif;
    opacity: .4;
    cursor: pointer;
}
.video-play:hover {
    opacity: 1;
}
.events-calendar-wrapper {
    height: 324px;
    overflow-y: scroll;
    padding-right: 20px;
    padding: 20px;
    border-radius: 5px;
}
.event-date {
    font-family: "Proxima-Bold", sans-serif;
    color: #8E96DA;
    font-size: 18px;
}
.link-news {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #333;
    text-decoration: none;
    font-family: "Proxima-Bold", sans-serif;
}
.link-news:hover {
    color: #000;
    text-decoration: underline;
}
.news-post-container {
    width: 49%;
    float: left;
    margin-right: 2%;
}
.news-post-container:nth-of-type(2n) {
    margin-right: 0;
}
/* comany info page */

.contact-info-wrapper {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-bottom: 130px;
}
.contact-info-wrapper p {
    color: #444;
    font-size: 18px;
}
.contact-info-wrapper h2 {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 18px;
    color: #545558;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #F7F7F7;
    text-align: left;
    margin-bottom: 10px;
}
.contact-info-wrapper p {
    line-height: 24px;
    padding-top: 30px;
    text-align: left;
}
#companyInfo .newsletter-main {
    padding-top: 50px;
}
/* single post styles */

#singlePost .newsletter-main {
    padding-top: 50px;
}
.single-post-main-content {
    padding-right: 5%;
    padding-left: 5%;
    text-align: justify;
}
.single-post-wrapper {
    background-color: #fff;
    padding: 60px 40px 40px 40px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding-bottom: 130px;
    text-align: left;
}
.single-post-wrapper h3 {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
    padding-top: 40px;
    margin-bottom: 10px;
}
.single-post-wrapper .single-post-featured-image {
    margin: 40px 0px;
}
.single-post-wrapper .single-post-featured-image img {
    width: 100%;
    height: auto;
}
.single-post-wrapper .single-post-main-heading {
    font-size: 35px;
    font-family: "Proxima-Bold", sans-serif;
    padding: 20px 0 10px 0;
}
.single-post-wrapper .sinble-post-date {
    color: #898f9c;
}
.single-post-wrapper b {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 18px;
    color: #000;
    padding: 0 5px;
}
.single-post-main-content p {
    color: #000;
    font-size: 17px;
    padding: 10px 0;
    line-height: 28px;
}
.single-post-wrapper ul {
    list-style: disc;
    color: #000;
    padding: 15px 0 15px 20px;
}
.single-post-wrapper ul li {
    font-size: 18px;
    font-family: "Proxima-Bold", sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}
.single-post-wrapper ul li a {
    font-family: "Proxima-Light", sans-serif;
    color: #888;
    font-size: 15px;
    padding-left: 25px;
}
.single-post-wrapper ul li a:hover {
    color: #000;
}
.single-post-wrapper h4 {
    color: #777;
}
.media-single-heading {
    padding-bottom: 40px;
    font-family: "Proxima-Bold", sans-serif;
    font-size: 30px;
    color: #000000;
}
.single-post-wrapper p a {
    color: #373992;
    font-family: "Proxima-Bold", sans-serif;
    padding: 0 5px;
}
p.big-heading {
    font-family: "Proxima-Bold", sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 90px 0 0 0;
}
/* hide video */

.video-play {
    display:;
}
/* mobile pages */

@media screen and (max-width: 1200px) {
    .newsletter-main,
    .nav-newsletter ul,
    .newsletter-heading-wrapper{
        padding-right: 40px;
        padding-left: 40px;
    }
        
}

@media screen and (max-width: 1000px) { 
    .news-post-container {
        width: 100%;
        float: none;
        height: auto;
    }
    
    .media-folder {
        width: 48%;
        margin-right: 4%;
    }
    
    .media-folder:nth-of-type(2n) {
        margin-right: 0;
    }
    
    .single-post-main-content {
        padding: 0;
    }
    
    .newsletter-bottom-left {
        padding: 30px 30px 0px 30px;
    } 
}

@media screen and (max-width: 850px) {  
    .newsletter-main,
    .nav-newsletter ul,
    .newsletter-heading-wrapper{
        padding-right: 20px;
        padding-left: 20px;
    }
        
}

@media screen and (max-width: 769px) {
    .newsletter-bottom-left,
    .newsletter-bottom-right{
        float: none;
        width: 100%;
        height: auto;
        min-height: auto;
    }
    
    .newsletter-bottom h3{
        padding: 0;
    }
    
    .newsletter-bottom-left {
        padding: 40px;
    }
    
    .newsletter-bottom-right {
        padding: 40px;
    }
    
    .newsletter-bottom-social {
        position: relative;
    }
    
    .newsletter-bottom-social h3 {
        padding-bottom: 15px;
    }
    
    .newsletter-bottom-events-wrapper h3 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .media-gallery-single-wrapper {
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .newsletter-slider-right {
        height: 350px;
    }
    
    .newsletter-bottom h3 {
        font-size: 22px;
    }
    
    .newsletter-bottom-social h3 {
        font-size: 15px;
    }
    
    .media-gallery-wrapper ,
    .contact-info-wrapper{
        padding: 40px 20px;
    }
    
    .news-post-container {
        padding: 20px;
    }
    .media-folder .media-folder-thumbnail img {
        width: 100%;
    }
    .media-folder-overlay {
        display: none;
    }
    
    .contact-info-wrapper p {
        text-align: justify;
    }
    
    .slider-text .slider-post-date {
        display: none;
    }
   .video-play {
	display:none;	
   }
}

@media screen and (max-width: 650px) { 
    .media-folder {
        width: 100%;
        text-align: center;
        margin: 20px auto;
    }
    .single-post-wrapper ul li a {
        display: block;
        padding-top: 10px;
    }
      .single-post-wrapper h4 {
        line-height: 22px;  
    }
}

@media screen and (max-width: 480px) {
    .newsletter-main,
    .nav-newsletter ul,
    .newsletter-heading-wrapper{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .newsletter-bottom-left {
        padding: 20px;
    }
    
    .newsletter-main {
        padding: 0;
    }
    
    .nav-newsletter ul li {
        padding: 0;
        display: block;
        float: none;
        border-top: 1px solid #eee;
        text-align: center;
    }
    
    .nav-newsletter ul {
        height: auto;
    }
    
    .newsletter-slider {
        margin-top:0;
    }
    
    .top-stories-tag {
        right:20px;
    }
    
    .newsletter-bottom {
        margin-top: 20px;
    }
    
    .newsletter-bottom-right {
        padding: 20px;
    }
    
    .link-news {
        bottom: 10px;
        right: 15px;
        background: #000;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
    }

    
    .single-post-wrapper {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .nav-newsletter {
        border: none;
    } 
    
    .header-content-top h1 a{
        float: none;
        display: block;
        margin: 0 auto;
    }
        
    .single-post-wrapper .single-post-main-heading {
        font-size: 30px;
        line-height: 40px;
    }
    
    .media-gallery-single-wrapper {
        padding-top:20px;
    }
    
    .media-single-heading {
        font-size: 24px;
    }
}


/*add tabs for upcomming and past events */

.events-calendar-headings {
	background-color:#636ba2;
	margin-top:50px;
}

.events-calendar-headings h3 {
	font-size:17px;
	display:inline-block;
	padding-bottom:12px;
	padding-top:12px;
	cursor:pointer;
	color:#838bc7;
	width:50%;
	float:left;
	text-align:center;
}

.events-calendar-headings h3.active {
	color:#8E96DA;
	background-color:#fff;
}

.events-calendar-headings h3:hover {
}

.events-calendar-headings i {
	display:inline-block;
	padding:0 10px;
	opacity:0;
}
